<!DOCTYPE html>

<html lang="pt-br">

<head>

<meta charset="UTF-8">

<title>Receber Nota</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="container mt-5">

<h2>Nova Nota Fiscal</h2>

<form method="POST">

<div class="mb-3">

<label>Número</label>

<input class="form-control" name="numero">

</div>

<div class="mb-3">

<label>Fornecedor</label>

<input class="form-control" name="fornecedor">

</div>

<div class="mb-3">

<label>Valor</label>

<input class="form-control" type="number" step="0.01" name="valor">

</div>

<button class="btn btn-primary">

Salvar

</button>

</form>

</body>

</html>